
<table class="tx-hevlocation" >
	<tr>
		<td>
			<f:translate key="tx_hevlocation_domain_model_hevlocation.header" />
		</td>
		<td>
		{hevlocation.header}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hevlocation_domain_model_hevlocation.location" />
		</td>
		<td>
		{hevlocation.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hevlocation_domain_model_hevlocation.target" />
		</td>
		<td>
		{hevlocation.target}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hevlocation_domain_model_hevlocation.display_section_name" />
		</td>
		<td>
		{hevlocation.displaySectionName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hevlocation_domain_model_hevlocation.bodytext" />
		</td>
		<td>
		{hevlocation.bodytext}
		</td>
	</tr>
</table>